body { color:black;}
	h1{ 
		color: red;
		font-style:italic;
		font-size:40px;
}
h2{ 
		color: red;
		font-style:italic;
	font-size:40px;
}
h3{ 
		color: red;
		font-style:italic;
		font-size:40px;
}
h4{ 
		color: red;
		font-style:italic;
		font-size:40px;
}
h5{ 
		color: red;
		font-style:italic;
		font-size:40px;
}
